
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --pirmay: #fed049;
  --secondary: #007580;
  --red: #e01b24;
  --gray: #fafafa;
  --black: #000;
}

a{
  text-decoration: none;
}
/* h1{
  font-size: clamp(3rem, 2.0625rem + 3vw, 3.75rem)
}
h2{
  font-size: clamp(2.125rem, 0.875rem + 4vw, 3.125rem);
}
h3{
  font-size: clamp(2.618rem, 2.6178rem + 0.0005vw, 2.618125rem);
}
h4{
  font-size: clamp(1.125rem, 0.8125rem + 1vw, 1.375rem);
}
p{
  font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
} */
.radius{
  border-radius: 35px;
}

.color-pirmay{
  background-color: var(--pirmay);
}
.color-secondary{
  background-color: var(--secondary) !important;
  color: #fff !important;
}
.color-red{
  background-color: var(--red);
}
.color-gray{
  background-color: var(--gray) !important;
}
.color-black{
  background-color: var(--black);
}
